/*
* @Author: ljgoh
* @Date:   2018-05-10 12:22:16
* @Last Modified by:   WoodenMan001
* @Last Modified time: 2018-05-17 16:29:56
*/

@import '../common/head';

body {
	background: #f6f9fb;
}

div.content_warn {
	@extend .blockCenter;
	width: 670px;
	padding: 5px 0;
	margin-bottom: 8px;
	line-height: 24px;
	background: #fef7f5; 

	.fa {
		font-size: 15px;
	}
	
	a {
		@extend .a_color;
	}
}

/*register*/
header.rs .main {
	background: #fff url(https://login.dangdang.com/images/unite_header_bg_1101.gif) repeat-x 0 -148px;
	border-bottom: 3px solid #f07700; 
	padding-top: 2px;
    height: 71px;
    color: #404040;

	.header_nav>ul>li,div.logo {
		float:left;
	}
	div.header_nav {
		@extend .header_nav;
	}
	
	//下拉框样式
	div.drop-down {
		display: none;
		position: absolute;
		width: $max_width;
		background: #fff;
		border: 1px solid red;
		border-top: none;
		z-index: 9;
		top: 18px;
		left: -1px;
		
		ul,li {
			width: $max_width;
		}

		li {
			border: none;
			padding: 3px 0;
		}
	}

	.logo {
		display: block;

		img {
			display: block;
		}
	}
}

section.rs .main {
	position: relative;
	left: -5px;
    margin: 40px auto;
	width: $mainWidth - 10;
	background-color: #ebeeef;

	.container {
		position: relative;
		box-shadow: -1px 1px 1px rgb(232,235,236);
		top: -10px;
		left: 10px;
		background: #fff;
	}

	.header {
		position: relative;
		height: 74px;
		margin: 0 15px;
		border-bottom: 1px solid #eceef2;

		span {
			float: right;
			padding: {
				top: 40px;
				right: 10px;
			}
			font-size: 22px;
			
			a {
				margin-right: 5px;
			}

			.fa {
				position: relative;
				top: 1px;
				left: 6px;
				font-size: 16px;
			}
		}

		&>a {
			$topH: 27px;

		    position: relative;
			display: inline-block;
			width: 135px;
		    height: 46px;
		    top: $topH;
		    left: 20px;
		    margin-left: 6px;
		    border: 1px solid #eceef2;
		    font-size: 16px;
		    line-height: 42px;
		    text-align: center;
		    color: #464646;
		    background-color: #f5f5f5;

		    &.active {
		    	background: #fff;
		    	top: $topH + 1;
		    	border-bottom: none;
		    }
		}
	}
	
	//侧边悬浮
	.aside {
		position: fixed;
		left: 1433.5px;	
		top: 106px;

		a {
			background: url(https://login.dangdang.com/images/xiaodangdang.png) no-repeat scroll 0 0 transparent;
		    display: block;
		    height: 120px;
		    width: 34px;
		}
	}

	//主要内容
	.content {
		padding: 45px 0 25px;
	}

	.content_form tr {
		display: block;
		width: $max_width;

		i[name="yz"] {
			position: absolute;
			display: none;
			right: 64px;
			top: 13px;
		}

		.code i[name="yz"] {
			right: 230px;
		}
	}
	.content_form td {
		display: inline-block;
		font-size: $font_size_second;

		&:first-child,
		&:last-child {
			padding-bottom: 30px;
		}

		&:first-child {
			width: 340px;
			text-align: right;
			padding: {
				right: 10px;
			}	
		}
		
		&:last-child {
			position: relative;
			text-align: left;    
			width: 400px;

			input {
				float: left;
				margin-right: 5px;
			}
		}

		&:not(.clause) input {
		    float: left;
		    height: 18px;
		    width: 290px;
		    border: 1px solid #e6e6e6;
		    border-radius: 2px;
		    font-family: 'Microsoft YaHei';
		    line-height: 18px;
		    color: #333;
			letter-spacing: 1px;
		    margin-right: 10px;
		    padding: 9px 10px;
		    outline: 0 none;
		}

		&:not(.clause) input:focus {
		    color: #505050;
    		border-color: #969696;
		}
		
		span[name='warn'],
		&:not(.clause) span {
		    position: absolute;
			display: none;
			color: #787878;
		    line-height: 14px;
		    padding: 0 4px;
		    margin-right: 5px;
		    left: 8px;
		    bottom: 8px;
		}
		
		span[name='warn'] {
			color: red;
		}

		.intensity span {
			float: left;
			position:relative;
			display:inline-block;
			width: 22px;
			height:10px;
			top: 0;
			margin:0;
			margin-left:3px;
			padding:2px 0;
		}

		span.upperCase {
			display: none;
			border: 1px solid #fcd9b0;
		    line-height: 18px;
		    background-color: #fff0cf;
		    color: #ff8400;
		    left: 0;
		    width: 302px;
		}

		//验证码
		&.code {
			input {
				width: 160px;
			}

			a:nth-child(2) {
				display: inline-block;
				width: 84px;
				height: 37px;
				margin-right: 5px;
				background: yellow;
			}

			a:nth-child(3) {
				position: relative;
				display: inline-block;
				top: -3px;
			}
		}

		//复选框
		&.clause input {
			position: relative;
			top: 3px;
		}
		
		& a {
			@extend .a_color;
		}

		//按钮
		a.btn {
			display: block;
			width: 178px;
			height: 44px;
			font-size: 20px;
			line-height: 44px;
			background: red;
			color:#fff;
			border-radius: 22px;
			margin-left: 50px;
			@extend .textCenter;
			text-decoration: none; 
		}
	}

	#code {
		text-align: center;
		text-decoration: none;
		line-height: 37px;
		font-size: 20px;
		letter-spacing: 2px;
		color: #fff;
	}
}

/* login */
.lg {
	background: #fff;
}
.lg >header .main {
	padding-top: 10px;
    height: 71px;
    color: #404040;

    .suggest {
    	height: 16px;
		float: right;
		margin-top: 40px;

		&>* {
			color: #787878;
			line-height: 16px;
		}

		&:hover a {
			text-decoration: underline;
		}

		i {
			font-size: 16px;
		}
	}
}

.lg >section {
	background: url(https://login.dangdang.com/p/get_login_ad.php) no-repeat center center;
	height: 590px;

	.toLogin {
		background: #fff;
	    padding: 15px 25px 15px 15px;
	    float: right;
	    width: 320px;
	    color: #6e6e6e;
	    margin: 90px auto 0;
	    position: relative;
	    border: 1px solid #eef2f4;
	    box-shadow: 0px 1px 2px #eee;

		.form {
			position: relative;
			padding: 15px;
		}
	    .content_warn {
	    	display: block;
		    width: 355px;
		    height: 24px;
		    right: -1px;
		    top: -27px;
		    line-height: 24px;
		    color: #828282;
		    padding-left: 5px;
		    background: url(https://login.dangdang.com/images/new_tip.png) 3px 5px no-repeat #fef7f5;
		    border: 1px solid #fedbd1;
		    position: absolute;
	    }

	    .swith_codeImg {
	    	background: url(https://login.dangdang.com/images/scan_icon.png);
		    display: block;
		    width: 55px;
		    height: 55px;
		    position: absolute;
		    right: -15px;
		    top: 7px;

		    z-index: 10;
	    }

	    .hint {
	    	position: absolute;
		    top: 7px;
		    right: 48px;
		    border: 1px solid #fedbd1;
		    background-color: #fef7f5;
		    color: #ff572a;
		    padding: 4px 6px;

		    span.icon {
		    	background: url(https://login.dangdang.com/images/arrow_right_icon.png) no-repeat;
			    display: inline-block;
			    width: 12px;
			    height: 12px;
			    position: absolute;
			    right: -12px;
			    top: 6px;
		    }
	    }
		
		.form_content {
			position:relative;
			top: 30px;
		}

	    .form_content p{
    	    font-size: 18px;
		    color: #3c3c3c;
		    margin-top: 5px;
	    }

	    .form_username {
    		margin-top: 20px;
    		position: relative;
	    }

	    .form_content >div> input {
    	    background: none;
		    position: absolute;
		    z-index: 20;
		    color: rgb(176, 176, 176);
		    width: 270px;
		    height: 34px;
		    font-size: 13.3333px;
		    padding-left: 0px;
		    font-family: "Microsoft Yahei";
		    top: 0px;
		    left: 40px;
		    line-height: 34px;
		    display: block;
	    }
	}
	
	.infro {
	    width: 311px;
    	float: right;
	}
	.infro {
		position: relative;
		
		
		.username, 
		.password, 
		.code {
		    height: 36px;
		    border: 1px solid #e6e6e6;
		    width: 310px;
		    border-radius: 2px;
		    position: relative;
		}
		.username input,
		.infro .password input {
		    width: 270px;
		}

		.username input, 
		.password input, 
		.code input {
		    float: left;
		    height: 34px;
		    line-height: 34px;
		    border: 0;
		    color: #333;
		    font-family: "Microsoft Yahei";
		    padding: 0;
		    outline: none;
		}


		.password_login {
			font-size: 18px;
		    color: #3c3c3c;
		    margin-top: 5px;
		}
		
		.text_del {
		    width: 10px;
		    height: 11px;
		    display: block;
		    top: 12px;
		    left: 290px;
		    position: absolute;
		    background: url(https://login.dangdang.com/images/icon_20150706.png) 0 -230px no-repeat;
		}

		.infro .replacetype01 {
		    position: absolute;
		    top: 44px;
		    right: 0;
		}
		
		.username span, 
		.password span,
		.code span {
		    width: 30px;
		    margin-right: 10px;
		    height: 36px;
		    float: left;
		    background: url(https://login.dangdang.com/images/icon_20150706.png) 10px -110px no-repeat;
		}

		.username {
			margin-top: 20px;
			position: relative;

			>span {
				display: block;
			    width: 30px;
			    margin-right: 10px;
			    height: 36px;
			    float: left;
			    background: url(https://login.dangdang.com/images/icon_20150706.png) 10px -110px no-repeat;
			}
		}
		.tips {
		    height: 30px;
		    line-height: 30px;
		    padding-left: 10px;

		    span {
		    	display: none;
		    }
		}

		.password span {
			background-position: 10px -150px;
		}

		.Rotate {
			font-size: 14px;
		    margin-bottom: 10px;
		    overflow: hidden;
		    padding: 0;
		    width: 312px;

		    .Rotate-operate {
			    color: #555;
			    height: 16px;
			    line-height: 16px;
			    margin: 0 1px 8px;
			    position: relative;
			}

			.Rotate-prompt {
			    font-size: 14px;
			    opacity: 1;
			    position: absolute;
			    transform: translate(0px, 0px);
			    transition: all 0.25s ease-out 0s;
			    vertical-align: baseline;
			    visibility: visible;
			}

			label.error.is-visible {
			    opacity: 1;
			    transform: translate(0px, 0px);
			    visibility: visible;
			}

			.Rotate-refresh {
			    cursor: pointer;
			    position: absolute;
			    right: 0;
			    top: 0;
			}

			label.error {
			    display: none;
			    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
			    color: #f42e00;
			    left: 0;
			    line-height: inherit;
			    opacity: 0;
			    padding: 0;
			    border: none;
			    position: absolute;
			    top: 0;
			    transform: translate(-20px, 0px);
			    transition: all 0.25s ease-out 0s;
			    visibility: hidden;
			}

			a {
			    color: #1a66b3;
			    text-decoration: none;
			}
			

			.Rotate-background {
			    background-repeat: no-repeat;
			    background-position: 0 0;
			    float: left;
			    margin: 0 1px 0;
			    height: 76px;
			    width: 76px;
			}

			
		}

		.auto_login {
			    width: 310px;
			    height: 27px;
			    line-height: 22px;
			    padding-top: 7px;
			    overflow: hidden;

			    a {
				    float: right;
				}

				input {
				    vertical-align: middle;
				    margin-top: -1px;
				}
			}

			.btn a {
			    width: 100%;
			    border-radius: 5px;
			    color: #fff;
			    display: inline-block;
			    height: 44px;
			    text-align: center;
			    font: normal 20px/44px "Microsoft Yahei";
			    background: #ff2832;
			}

			.register {
			    height: 24px;
			    line-height: 24px;
			    padding-top: 6px;

			    .register_btn {
				    float: right;
				    color: #6e6e6e;
				}
				
				

				span {
			    	line-height: 24px;
				}
			}

			.partner dt {
			    float: left;
			    margin-right: 5px;

			    a {
				    width: 20px;
				    height: 20px;
				    display: block;
				    background: url(https://login.dangdang.com/images/icon_20150706.png) 0 -260px no-repeat;
				    text-indent: 99em;
				    overflow: hidden;
				}
			}

			.partner dd {
			    padding-left: 10px;
			    position: relative;
			    float: left;
			    line-height: 20px;

			    a{
			    	color: #969696;
			    }
			}
	}
}

.pop_up_frame {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
	
	.shade {
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,.4);
	}

	.oBox {
		position: fixed;
		width: 494px;
		height: 184px;
		margin: 0 auto;
		left: 50%;
		top:50%;
		transform: translate(-50%,-50%);
		background: #fff;

		.head h3{
			background: #F5F5F5;
			text-align: center;
			font-size: 14px;
			height: 40px;
			line-height: 40px;
		}

		.content {
			height: 124px;
			padding: 15px  25px;
			line-height: 15px;

			p span {
				color: red;
			}

			&>span {
				position: relative;
				display: block;
				top: 30px;
				width: 56px;
				height: 24px;
				color: #fff;
				text-align: center;
				line-height: 24px;
				margin-top: 30px;
				background: #FF2832;
				margin: 0 auto;
				cursor: pointer;
			}
		}
	}
}


 .content_wrap .main {
	width: 1200px;
	background: #fff;
}

.details a {
	color: #6666;
}

.details ul.lunbo_tab {
	transform: translateX(-50%);
	li.on {
		background: red;
		color: #fff;
	}	
}


.details header {
	.head_nav {
		background-color: #f9f9f9;
	    border-bottom: 1px solid #f2f2f2;
	    height: 34px;
	    line-height: 34px;
	    position: relative;
	    z-index: 10010;

	    .nav {
	    	position: relative;
	    	float: right;
	    	// padding-top: 8px;
			
			>ul {
				float: right;	
				padding-top: 2px;
				margin:0;
			}

	    	&>ul>li {
				float: left;
			    height: 22px;
			    padding-top: 4px;
			    line-height: 21px;
			    position: relative;
			    z-index: 100;
	    		border: 1px solid #fff;

			    .fa {
			    	position: relative;
			    	line-height: 16px;
			    	color: #646464;
			    }

			    .fa-cart-plus {
			    	right: -7px;
			    	top: 0;
			    	color: red;
			    }

	    		&>a {
	    			padding: 4px 8px 0 9px;
	    		}

				&:hover  {
					background: #fff;
					border: 1px solid #e6e6e6;
					border-bottom: none;
				}
	    		&:hover .fa {
					color: red;
	    		}

	    		.drop-down {
	    			display: none;
	    			border: 1px solid #e6e6e6;
	    			border-top: none;
	    			text-align: center;
	    			position: relative;
	    			top: -1px;
	    			background: #fff;
	    		}

	    		&.bulkhead {
	    			background: url(https://login.dangdang.com/images/unite_header_bg_1101.gif) no-repeat 0 -100px;
	    		}
	    	}  

	    	&>div {
	    		background: #fff;
	    		float: left;
			    height: 22px;
			    padding-right: 8px;
			    padding-top: 6px;
			    line-height: 21px;
			    position: relative;
			    z-index: 100;
			    a {
			    	color: red;
			    }
	    	}  
	    }

	    .head_nav_address {
	    	float: left;
		    position: relative;
		    padding-top: 2px;
		    margin-right: -1px;
		    z-index: 100;
		    font-family: arial;

	    	.fa {
	    		float: right;
	    		height: 28px;
	    		line-height: 25px;
	    		margin-left: 3px;
	    		color: #646464;
	    	}

	    	a {
	    		display: block;
			    position: relative;
			    line-height: 24px;
			    height: 24px;
			    padding: 4px 22px 0 9px;
	    	}
			
			a:hover {
				background: #fff;
			}
	    	.drop-down {
	    		display: none;
	    		position: absolute;
			    top: 27px;
			    left: 0px;
			    border: 1px solid #e6e6e6;
			    background-color: #fff;
			    padding: 10px 0 10px 10px;
			    width: 298px;
	    	}
	    }
	}

	.logo_line_out .main {
		position: relative;
		height: 100px;
	}

	.logo {
		overflow: hidden;
		width: 362px;
		height: 100px;
		vertical-align: middle;
		position: absolute;
		left: 0;
		top: 0;
	}

	.search {
		position: absolute;
	    margin-top: 20px;
	    height: 48px;
	    z-index: 9999;
	    left: 362px;
	    top: 0;

	    form {
		    display: block;
	    	height: 50px;
		    margin: 0;
		    padding: 0;
		    list-style-type: none;
		    border: 0;
	    }

	    .label_search {
		    position: absolute;
		    top: 2px;
		    left: 10px;
		    width: 398px;
		    height: 36px;
		    line-height: 36px;
		    z-index: 1;
		    overflow: hidden;
		}

		.text {
		    width: 398px;
		    height: 18px;
		    border: 2px solid #ff2832;
		    border-right: none;
		    padding: 9px 0 9px 10px;
		    position: absolute;
		    left: 0;
		    top: 0;
		    z-index: 2;
		    color: #323232;
		    font: 12px/18px 'Hiragino Sans GB',"simsun",Arial;
		    outline: 0;
		    background: none;
		}

		a {
			color: #646464;
	    	text-decoration: none;
		}

		.select {
		    position: absolute;
		    top: 0px;
		    left: 410px;
		    border: 2px solid #ff2832;
		    border-left: 0px solid #dedede;
		    width: 92px;
		    height: 36px;
		    font: 16px/36px "Microsoft Yahei";
		    color: #969696;
		    padding: 0 0 0 14px;
		    cursor: pointer;
		    background-color: #f6f6f6;

		    .fa {
			    position: relative;
			    top: -2px;
		    }

		    .select_pop {
	    	    width: 104px;
			    height: 288px;
			    border: 1px solid #dedede;
			    position: absolute;
			    top: 36px;
			    left: 0px;
			    background-color: #fff;
			    overflow: auto;

			    height: 286px; 
			    padding: 1px; 
			    border-width: 1px;
				
				a {
					display: block;
				    height: 24px;
				    padding: 0 5px 0 15px;
				    text-decoration: none;
				    font: 12px/24px 'Hiragino Sans GB',"simsun";
				}
			    a:hover {
					background-color: #c8c8c8;
	    			color: #fff!important;
	    		}
		    }
		}

		.button {
		    width: 48px;
		    height: 40px;
		    border: none;
		    background: url(http://img63.ddimg.cn/upload_img/00459/home/head_sprite.png) no-repeat 0 -346px;
		    cursor: pointer;
		    position: absolute;
		    left: 517px;
		    top: 0;
		}	
	}

	.search_bottom {
		position: absolute;
	    top: 65px;
	    left: 362px;
	    width: 585px;
	    line-height: 20px;
	    z-index: 6666;

	    .search_hot {
		    float: left;
		    width: 518px;
		    overflow: hidden;
		    height: 20px;
	    	color: #969696;
	    }

	    a {
		    color: #969696;
		    margin-right: 15px;
		    height: 20px;
		    overflow: hidden;

		    @extend .a_hover_red;
		}
	}

	.ddnew_cart  {
		text-align: center;
		right: 88px;
	    width: 107px;
	    border-color: #ff2832;
	    background: #ff2832;

	    height: 36px;
	    position: absolute;
	    top: 20px;
	    border: 2px solid #dcdcdc;
	    font: 14px/36px "Microsoft Yahei";

	    a {
			&,*{
		    	color: #fff;
			}
		    .fa {
		    	font-size: 16px;
		    }

		    b {
	    	    padding-left: 3px;
			    font-family: Arial;
			    font-weight: bold;
		    }
	    }
		
		&:hover {
			background: #fff;

			a {
				&,*{
			    	color: #ff2832;
				}
			}
		}
	}

	.ddnew_order {
		width: 86px;
	    padding: 0;
	    text-align: center;
	    right: 0;
	    border-left: 0;
	    background-color: #f6f6f6;
	    height: 36px;
	    position: absolute;
	    top: 20px;
	    border: 2px solid #dcdcdc;
	    font: 14px/36px "Microsoft Yahei";

	    a {
		    display: inline-block;
				width: 86px;
	    }
	}

	.nav_top {
	    height: 40px;
	    border-bottom: 3px solid #ff2832;
		
		li {
			float: left;
		    text-align: center;
		    position: relative;

		    &.all {
			   	width: 200px;
			    margin-right: 17px;
			    _display: inline;
			    text-align: left;
			    background: #ff2832;
			    position: relative;

			    a {
			    	padding: 0 0 0 20px;
				    display: block;
				    width: 171px;
				    background: url(http://img63.ddimg.cn/upload_img/00459/home/head_sprite.png) no-repeat 161px -567px;
				    color: #fff;
			    }

			    a:hover {
			    	color: #fff;
			    }
		    }

		    a {
				color: #323232;
			    font: 14px/40px "Microsoft Yahei";
			    text-decoration: none;
			    padding: 0 15px;
			    display: block;
			    font-weight: bold;
		    }

		    a:hover {
		    	color: #ff2832;
		    }
		}
	}
}

.details .product_wrapper {
    width: 1200px;
    margin: 0 auto;
    font: 12px "Hiragino Sans GB","Verdana","Simsun";
    background-color: #fff;
}

.details .breadcrumb {
    color: #646464;
    font: 12px/40px "simsun";
    height: 40px;
    padding-bottom: 8px;
    position: relative;
    z-index: 10000;

    a.domain {
	    font: 14px/40px "Microsoft Yahei";
	}

	a, a:hover {
		line-height: 40px;
	    color: #646464;
	    float: left;
	    _display: inline;
	}

	 span.gt {
	    color: #646464;
	    margin: 1px 6px 0;
	}
	span {
		line-height: 40px;
	    color: #323232;
	    float: left;
	    _display: inline;
	}
}

.details .product_main {
    width: 1200px;
    margin: 0 auto;
}

.details .pic_info {
    float: left;
    width: 320px;
    padding: 0 20px 30px 0;

    .pic {
	    width: 320px;
	    height: 320px;
	    margin: 0 auto;
	    position: relative;
	    z-index: 7777;

	    .img, 
		.img img {
		    display: block;
		    width: 320px;
		    height: 320px;
		    overflow: hidden;
		}

		.zoom_pup {
		    width: 160px;
		    height: 160px;
		    cursor: move;
		}

		.big_pic {
		    border: 1px solid #f5f5f5;
		    position: absolute;
		    left: 320px;
		    top: 0;
		    width: 400px;
		    height: 400px;
		    overflow: hidden;
		    display: none;
		    background: #fff;
		    text-align: center;

		    img {
			    width: 800px;
			    height: 800px;
			}
		}
	}

	.dp_slide {
	    width: 320px;
	    margin: 8px auto 0;
	    position: relative;

	    .dp_slide_box {
		    width: 295px;
		    height: 56px;
		    margin-left: 14px;
		    overflow: hidden;
		}

		ul {
			width: 100000px;
		}

		ul li {
		    float: left;
		    margin-right: 3px;
		    width: 56px;
		    height: 56px;
		}


		ul a,
		ul a:hover {
		    display: block;
		    border: 1px solid #fff;
		    width: 54px;
		    height: 54px;
		    overflow: hidden;
		    overflow: hidden;
		    text-decoration: none;
		}

		img {
			width: 54px;
		    height: 54px;
		}
	}

	.dp_slide .mainimg_fy,
	.dp_slide .mainimg_fy:hover {
	    position: absolute;
	    height: 56px;
	    width: 14px;
	    top: 0;
	    background: #969696 url(http://product.dangdang.com/images/product_sprites.png) no-repeat 0 0;
	}

	.dp_slide .prev, 
	.dp_slide .prev:hover {
	    left: 0;
	}	

	.dp_slide .next, 
	.dp_slide .next:hover {
	    right: 0;
	    background-position: -15px 0;
	}
}

.details .show_info {
    float: left;
    width: 860px;
    font: 12px "Verdana","Simsun";
    color: #646464;
}

.details .sale_box {
    line-height: 24px;
    padding: 0 0 0 10px;
    background: url(https://login.dangdang.com/images/sale_box_bg.png) repeat-y 670px 0;
    margin-top: 5px;
}

.details .show_info a, 
.details .show_info a:hover {
    color: #1a66b3;
}

.details .sale_box_left {
    width: 630px;
    float: left;

    .name_info {
	    font-family: "Verdana","Microsoft Yahei";
	    font-weight: normal;
	    border-bottom: 1px solid #f5f5f5;
	    padding: 0 6px 12px 0;
	}
	
	h1 span,
	h1 {
	    line-height: 24px;
	    max-height: 48px;
	    overflow: hidden;
	    color: #323232;
	    font-size: 18px;
	    margin: 0 auto;

		.icon_name {
		    position: relative;
		    top: 2px;
		}
	}

	.name_info h2 {
	    padding-top: 6px;
	    max-height: 96px;
	    _height: expression(this.scrollHeight>96 ? "96px":"auto");
	    overflow: hidden;
	    font-size: 16px;
	    line-height: 24px;

	    .head_title_name {
		    color: #323232;
		}
	}
	.name_info .hot {
	    color: #ff2832;
	}

	.product_main .name_info .yushou {
	    color: #00b68a;
	}

	.sale_box .messbox_info .t1 {
	    display: inline-block;
	    padding-right: 25px;
	}

	

	.sale_box .messbox_info .t1 {
	    display: inline-block;
	    padding-right: 25px;
	}

	.sale_box .messbox_info .pinglun {
	    clear: both;
	}
}

.details .sale_box .price_info {
    background-color: #ebebeb;
    padding: 0 0 0 10px;
    margin: 6px 0 0 -10px;
    line-height: 28px;
    position: relative;
    width: 630px;
    z-index: 6666;
	

    .price_pc {
	    float: left;
	    padding-bottom: 7px;

	    >div {
	    	float: left;
	    }
	}

	.price_pc .price_d {
	    font-size: 26px;
	    color: #e52222;
	}

	.t {
	    color: #8f8f8f;
	    font-weight: normal !important;
	    font-size: 12px !important;
	}

	.price_pc .price_d .yen {
	    font-size: 14px;
	}

	.yen {
	    font: 12px verdana;
	}

	.price_pc .price_zhe {
	    line-height: 93px;
	    color: #e52222;
	}

	.price_pc .price_m {
	    line-height: 93px;
	    text-decoration: line-through;
	    color: #969696;
	}
}

.product_main .sale_box .price_info {
    background-color: #ebebeb;
    padding: 0 0 0 10px;
    margin: 6px 0 0 -10px;
    line-height: 28px;
    position: relative;
    width: 630px;
    z-index: 6666;
}

.product_main .sale_box .buy_box {
    padding: 30px 0 35px;

    .text {
	    color: #969696;
	    clear: both;
	    line-height: 20px;
	    width: 630px;
	    overflow: hidden;
	}


}

.product_main .sale_box .buy_box .num {
    float: left;
    height: 34px;
    margin-top: 3px;
    border: 1px solid #e9e9e9;
    width: 38px;
    padding-right: 23px;
    overflow: hidden;
    text-align: center;
    position: absolute;

    input {
	    width: 38px !important;
	    height: 32px;
	    line-height: 32px;
	    border: 0;
	    background: #fff;
	    text-align: center;
	}

	.num_add {
	    background-position: -37px 0;
	    top: 0;
	}

	.num_disabled, 
	.num_disabled:hover {
	    background-color: #ccc;
	    cursor: default;
	}

	.num_del {
	    background-position: -37px -17px;
	    top: 17px;
	}

	a, 
	a:hover {
	    position: absolute;
	    right: 0;
	    display: block;
	    width: 23px;
	    height: 17px;
	    background-image: url(https://login.dangdang.com/images/product_sprites.png);
	    background-repeat: no-repeat;
	    background-color: #646464;
	    margin-left: 6px;
	    _display: inline;
	}
}

#dd-price {
	margin-top:  15px;
	font-size: 26px;
	color: red;
}

.details html body product_wrapper{
	background: #fff!important;
}

.price_info {
	height: 66px;
}


.product_main .sale_box .buy_box .buy_box_btn {
    float: left;
    margin-left: 80px;
    width: 500px;
}

.num {
	float: left;
}

#buy_now_button,
#part_buy_button {
	float: left;
	width: 134px;
	height: 36px;
	color: #fff;
	background: red;
	text-align: center;
	line-height: 36px;
	border-radius: 5%
}

#buy_now_button {
	margin-left: 15px;
}