/*
* @Author: ljgoh
* @Date:   2018-05-10 12:22:16
* @Last Modified by:   ljgoh
* @Last Modified time: 2018-05-12 10:57:00
*/

@import '../common/common';

body {
	background: #f6f9fb;
}

/*register*/
header.rs .main {
	background: #fff url(https://login.dangdang.com/images/unite_header_bg_1101.gif) repeat-x 0 -148px;
	border-bottom: 3px solid #f07700; 
	padding-top: 2px;
    height: 71px;
    color: #404040;

	.header_nav>ul>li,div.logo {
		float:left;
	}

	div.header_nav {
		width: 788px;
		margin-top:5px;
		
		&,ul,p {
			float: right;
		}

		li:hover>a {
			text-decoration: underline;
		}		
		ul.nav>li {
			border: 1px solid #fff;
			position: relative;
			a {
				padding: 0 10px;
				border: 1px solid #fff;
			}

			&.icon:hover {
				border: 1px solid red;
				& >a,
				& .fa {
					color: red;
					text-decoration: none;
				}
			}

			&.bulkhead {
		        padding: 0;
			    width: 1px;
			    height: 21px;
			    background: url(https://login.dangdang.com/images/unite_header_bg_1101.gif) no-repeat 0 -105px;
			    font-size: 0;
			    line-height: 0;
			    overflow: hidden;
			}

			&.icon .fa {
				position: relative;
				top: -3px;
				color: #949493;
			}
		}

		p {
		    display: inline;
		    padding: 2px 10px 0 0;
		    width: 450px;
		    height: 19px;
			text-align: right;

			a {
		    	@extend .a_color;
			}
		}
	}
	//下拉框样式
	div.drop-down {
		display: none;
		position: absolute;
		width: $max_width;
		background: #fff;
		border: 1px solid red;
		border-top: none;
		z-index: 9;
		top: 18px;
		left: -1px;
		
		ul,li {
			width: $max_width;
		}

		li {
			border: none;
			padding: 3px 0;
		}
	}

	.logo {
		display: block;

		img {
			display: block;
		}
	}
}

section.rs .main {
	position: relative;
	left: -5px;
    margin: 40px auto;
	width: $mainWidth - 10;
	background-color: #ebeeef;

	.container {
		position: relative;
		box-shadow: -1px 1px 1px rgb(232,235,236);
		top: -10px;
		left: 10px;
		background: #fff;
	}

	.header {
		position: relative;
		height: 74px;
		margin: 0 15px;
		border-bottom: 1px solid #eceef2;

		span {
			float: right;
			padding: {
				top: 40px;
				right: 10px;
			}
			font-size: 22px;
			
			a {
				margin-right: 5px;
			}

			.fa {
				position: relative;
				top: 1px;
				left: 6px;
				font-size: 16px;
			}
		}

		&>a {
			$topH: 27px;

		    position: relative;
			display: inline-block;
			width: 135px;
		    height: 46px;
		    top: $topH;
		    left: 20px;
		    margin-left: 6px;
		    border: 1px solid #eceef2;
		    font-size: 16px;
		    line-height: 42px;
		    text-align: center;
		    color: #464646;
		    background-color: #f5f5f5;

		    &.active {
		    	background: #fff;
		    	top: $topH + 1;
		    	border-bottom: none;
		    }
		}
	}
	
	//侧边悬浮
	.aside {
		position: fixed;
		left: 1433.5px;	
		top: 106px;

		a {
			background: url(https://login.dangdang.com/images/xiaodangdang.png) no-repeat scroll 0 0 transparent;
		    display: block;
		    height: 120px;
		    width: 34px;
		}
	}

	//主要内容
	.content {
		padding: 45px 0 25px;

		&>div {
			@extend .blockCenter;
			width: 670px;
			padding: 5px 0;
			margin-bottom: 8px;
			line-height: 24px;
			background: #fef7f5; 

			.fa {
				font-size: 15px;
			}
			
			a {
				@extend .a_color;
			}
		}
	}

	.content_form tr {
		display: block;
		width: $max_width;

		i[name="yz"] {
			position: absolute;
			display: none;
			right: -15px;
			top: 10px;
		}
	}
	.content_form td {
		display: inline-block;
		font-size: $font_size_second;

		&:first-child,
		&:last-child {
			padding-bottom: 30px;
		}

		&:first-child {
			width: 340px;
			text-align: right;
			padding: {
				right: 10px;
			}	
		}
		
		&:last-child {
			position: relative;
			text-align: left;
		}

		&:not(.clause) input {
		    float: left;
		    height: 18px;
		    width: 290px;
		    border: 1px solid #e6e6e6;
		    border-radius: 2px;
		    font-family: 'Microsoft YaHei';
		    line-height: 18px;
		    color: #333;
			letter-spacing: 1px;
		    margin-right: 10px;
		    padding: 9px 10px;
		    outline: 0 none;
		}

		&:not(.clause) input:focus {
		    color: #505050;
    		border-color: #969696;
		}

		&:not(.clause) span {
		    position: absolute;
			display: none;
			color: #787878;
		    line-height: 14px;
		    padding: 0 4px;
		    margin-right: 5px;
		    left: 8px;
		    bottom: 8px;
		}
		
		span[name='warn'] {
			color: red;
		}

		//验证码
		&.code {
			input {
				width: 160px;
			}

			a:nth-child(2) {
				display: inline-block;
				width: 84px;
				height: 37px;
				margin-right: 5px;
				background: yellow;
			}

			a:nth-child(3) {
				position: relative;
				display: inline-block;
				top: -3px;
			}
		}

		//复选框
		&.clause input {
			position: relative;
			top: 3px;
		}
		
		& a {
			@extend .a_color;
		}

		//按钮
		a.btn {
			display: block;
			width: 178px;
			height: 44px;
			font-size: 20px;
			line-height: 44px;
			background: red;
			color:#fff;
			border-radius: 22px;
			margin-left: 50px;
			@extend .textCenter;
			text-decoration: none; 
		}
	}

	#code {
		text-align: center;
		text-decoration: none;
		line-height: 37px;
		font-size: 20px;
		letter-spacing: 2px;
		color: #fff;
	}
}